body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #f5f5f5;;
     color: #333;
}
header{
    text-align: center;
    padding-top: 20px;
    background-color: #4CAF50;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(0,0,0,0.3);
}

nav{
    background-color: #222;
}
nav ul{
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 20px;
}
nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 18px;
}
nav ul a:hover{
    text-decoration: underline;

}
main{
    margin: 20px;
}
section{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px ;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    
}
h2{
    
    padding-left:20px;
    text-shadow:1px 1px 2px rgba(0,0,0,0.2);

}

form label {
            font-weight: bold;
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            border-radius: 5px;
        }

        button[type="submit"] {
            background-color: #4CAF50;
            color: white;
        }

        button[type="reset"] {
            background-color: #e53935;
            color: white;
        }

        button:hover {
            opacity: 0.9;
        }

       
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 15px;
            margin-top: 30px;
        }

        nav ul li {
            list-style: square inside;
        }

       
        header h1 {
            font-size: 2.5rem;
        }

        nav ul li a {
            font-size: 1.2rem;
        }

    
